@model TreeStore.Models.Entities.Setting
@{
    ViewData["Title"] = "Site Ayarları";
}
<script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>
<h2>Site Ayarları</h2>
<hr />
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">@ViewBag.Message</div>
}


<form asp-area="Admin" role="form" asp-controller="Settings" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="MembershipAgreement" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="MembershipAgreement" tabindex="3" class="form-control"></textarea>
                <span asp-validation-for="MembershipAgreement" class="text-danger"></span>
                <script type="text/javascript">
                    CKEDITOR.replace('MembershipAgreement');
                </script>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeoTitle" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="SeoTitle" class="form-control" />
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeoDescription" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="SeoDescription" class="form-control"></textarea>
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeoKeywords" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="SeoKeywords" class="form-control"></textarea>
                <span asp-validation-for="SeoKeywords" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="About" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="About" tabindex="3" form-control"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
                <script type="text/javascript">
                    CKEDITOR.replace('About');
                </script>
            </div>
        </div>

      

        <div class="form-group">
            <label asp-for="Address" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fax" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Mail" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                @Model.UpdateDate.ToString("dd MMMM yyyy dddd HH:mm:ss")
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrivacyPolicy" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="PrivacyPolicy" tabindex="3"class="form-control"></textarea>
                <span asp-validation-for="PrivacyPolicy" class="text-danger"></span>
                <script type="text/javascript">
                    CKEDITOR.replace('PrivacyPolicy');
                </script>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TermsOfUse" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <textarea asp-for="TermsOfUse" tabindex="3" class="form-control"></textarea>
                <span asp-validation-for="TermsOfUse" class="text-danger"></span>
                <script type="text/javascript">
                    CKEDITOR.replace('TermsOfUse');
                </script>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Twitter" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Facebook" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Google" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Google" class="form-control" />
                <span asp-validation-for="Google" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Instagram" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Pinterest" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="Pinterest" class="form-control" />
                <span asp-validation-for="Pinterest" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RSS" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="RSS" class="form-control" />
                <span asp-validation-for="RSS" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="YouTube" class="col-md-1 control-label"></label>
            <div class="col-md-11">
                <input asp-for="YouTube" class="form-control" />
                <span asp-validation-for="YouTube" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}