@{
    ViewData["Title"] = "Access Denied";
}

<div style="text-align:center">
    <h1 class="text-danger" style="font-size:40px">Yetkisiz Erişim</h1>
    <p class="text-danger" style="font-size:15px">
        Girmeye çalıştığınız alan yetkinizin dışındadır. Yetkinizin bu alana girmek için yeterli olduğunu düşünüyorsanız iletişim formundan bizimle iletişime geçebilirsiniz.
        <br />İyi Günler Dileriz..
        <br />Tree Store Ekibi
    </p>
</div>


