@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Şifrenizi mi unuttunuz?";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>@ViewData["Title"]</h2>
       

        @if (!String.IsNullOrEmpty(ViewBag.ForgotPasswordMessage))
        {
                <div class="alert alert-success">@ViewBag.ForgotPasswordMessage</div>

        }

           <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <br /><br />
            <div class="col-md-offset-1"><h6>Sisteme kayıtlı E-Mailinizi giriniz</h6></div>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="product ui-btn ui-btn_primary">Gönder</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
