@model TreeStore.Models.Entities.Advertisement

@{
    ViewData["Title"] = "Slider Düzenle";
}

<h2>Slider Düzenle</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdvertisementType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AdvertisementType" class="form-control">
                    <option>Seçiniz</option>
                    <option value="1">Html</option>
                    <option value="2">Resim</option>
                </select>
                <span asp-validation-for="AdvertisementType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdvertisementLocation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AdvertisementLocation" class="form-control">
                    <option>Seçiniz</option>
                    <option value="1">SliderAlt1</option>
                    <option value="2">SliderAlt2</option>
                    <option value="3">KategoriAltı</option>
                    <option value="4">ÜrünlerUstu</option>
                    <option value="5">KampanyalarUstu</option>
                </select>
                <span asp-validation-for="AdvertisementLocation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdvertisementUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AdvertisementUrl" class="form-control" />
                <span asp-validation-for="AdvertisementUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdvertisementImage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AdvertisementImage" class="form-control" />
                <span asp-validation-for="AdvertisementImage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdvertisementDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AdvertisementDescription" class="form-control" />
                <span asp-validation-for="AdvertisementDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    
                    <label asp-for="IsActive"></label>
                    <input asp-for="IsActive" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FinishDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FinishDate" class="form-control" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
