@model TreeStore.Models.Product

@{
    ViewData["Title"] = "Ürün Ekle";
}
<h2>Ürün Ekle</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DiscountPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DiscountPrice" class="form-control" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImagePath" class="col-md-2 control-label">@Html.DisplayNameFor(model => model.ImagePath)</label>
            <div class="col-md-9">
                <div class="input-group">
                    <input asp-for="ImagePath" class="form-control" />
                    <span class="input-group-btn">
                        <a class="btn btn-info" id="uploadModal" type="button" onclick="browseMedia('ImagePath')">...</a>
                    </span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsActive" />
                    <label asp-for="IsActive"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyLink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyLink" class="form-control" />
                <span asp-validation-for="CompanyLink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SliderId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SliderId" class ="form-control" asp-items="ViewBag.SliderId"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
</div>
@Html.Partial("_BrowseMedia", new ViewDataDictionary(this.ViewData) { { "element", "ImagePath" } })
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
