@model TreeStore.Models.Entities.MailSetting

@{
    ViewData["Title"] = "Mail Ayarları";
}

<h2>Mail Ayarları</h2>
<hr />
<form asp-area="Admin" role="form" asp-controller="MailSettings" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="FromAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FromAddress" class="form-control" />
                <span asp-validation-for="FromAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FromAddressPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FromAddressPassword" class="form-control" />
                <span asp-validation-for="FromAddressPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FromAddressTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FromAddressTitle" class="form-control" />
                <span asp-validation-for="FromAddressTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Subject" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BodyContent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="BodyContent" class="form-control" rows="5"></textarea>
                <span asp-validation-for="BodyContent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SmptServer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SmptServer" class="form-control" />
                <span asp-validation-for="SmptServer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SmptPortNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SmptPortNumber" class="form-control" />
                <span asp-validation-for="SmptPortNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}