
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-6">
        <h2>Tree Store Ekibi</h2>
        <hr />
        <ul>
            <li>Ömer Örenç</li>
            <li>Şakir Altınöz</li>
            <li>Nadir Geçgel</li>
            <li>Arzu Gedik</li>
            <li>Murat Yanar</li>
            <li>Özlem Yıldırım</li>
            <li>Kadircan Boztepe</li>
            <li>Hatice Durmuş</li>
            <li>Doğan Karakaya</li>
        </ul>
    </div>
    <div class="col-md-6">
        <img src="~/images/tree.png" alt="Tree Store" height="600" width="600">
    </div>
</div>


