<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="@("modal" + ViewBag.Element)">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dosya Yükle</h4>
            </div>
            <div class="modal-body" id="@("modalBody" + ViewBag.Element)">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" style="display:none;" id="browseSave">Kaydet</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script>
    function browseMedia(element) {

        $.ajax({
            cache: false,
            type: "GET",
            data: {element:element},
            url: "/Admin/Media/Create",
            success: function (view) {
                $('#modalBody'+element).html(view);
                $('#modal'+element).modal();
            },
            error: function (err) {
                alert("Bilinmeyen bir hata oluştu!" + err);
            }
        });
    }

</script>
