<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <title>Tree Store</title>
    <link href="/assets/img/favicon.png" type="image/x-icon" rel="shortcut icon">
    <link href="/assets/css/master.css" rel="stylesheet">
    <link href="/assets/plugins/switcher/css/switcher.css" rel="stylesheet" id="switcher-css" media="all">
    <link href="/assets/plugins/switcher/css/color1.css" rel="alternate stylesheet" title="color1" media="all">
    <script src="/assets/plugins/jquery/jquery-1.11.3.min.js"></script>
    <link href="/css/category.css" rel="stylesheet">
</head>
<body>
    <div id="page-preloader"><span class="spinner"></span></div>
    <div class="layout-theme animated-css " data-header="sticky" data-header-top="200">
        <div class="switcher-wrapper">
            <div class="demo_changer">
                <div class="form_holder">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="predefined_styles">
                                <div class="skin-theme-switcher">
                                    <h4>Color</h4>
                                    <a href="javascript:void(0);" data-switchcolor="color1" class="styleswitch" style="background-color:#fe5656;"> </a> <a href="javascript:void(0);" data-switchcolor="color2" class="styleswitch" style="background-color:#4fb0fd;"> </a> <a href="javascript:void(0);" data-switchcolor="color3" class="styleswitch" style="background-color:#ffc73c;"> </a> <a href="javascript:void(0);" data-switchcolor="color4" class="styleswitch" style="background-color:#ff8300;"> </a> <a href="javascript:void(0);" data-switchcolor="color5" class="styleswitch" style="background-color:#02cc8b;"> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper">
            <header class="header">
                @*<div class="top-header" style="background-color:#d8373e">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12" style="height:60px">
                                @await Html.PartialAsync("_LoginPartial")
                            </div>
                        </div>
                    </div>
                </div>*@
                <!-- end top-header -->
                <div class="container">
                    <div class="header-inner">
                        <div class="row">
                            <div class="col-md-3"> <a href="/" class="logo"> <img class="logo__img" src="/assets/img/logo.png" height="51" width="162" alt="Logo"> </a> </div>
                            <div class="col-md-6 ">
                                <div class="header-search clearfix">
                                   
                                    <div class="header-search__filter">
                                        <div class="jelect">
                                            <input id="jelect" name="tool" value="0" data-text="imagemin" type="text" class="jelect-input">
                                            <div tabindex="0" role="button" class="jelect-current">Filter By</div>
                                            <ul class="jelect-options">
                                                <li data-val='0' tabindex="0" class="jelect-option jelect-option_state_active" >Date</li>
                                                <li data-val='1' tabindex="0" class="jelect-option">Title</li>
                                                <li data-val='2' tabindex="0" class="jelect-option">CATEGORIES</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="header-search__form">
                                        <form asp-area="" class="product-search" asp-controller="Home" asp-action="Search">
                                           
                                            <input id="query" class="product-search__field" type="text" value="@ViewBag.Query" placeholder="Ürün Adı, Mağaza Adı, Kampanya Adı, vs. ara.." name="query">
                                            <button class="product-search__btn ui-btn ui-btn_primary">ara</button>
                                        </form>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-3" style="height:60px; color:black !important" >
                                @await Html.PartialAsync("_LoginPartial")
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="top-nav ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12  col-xs-12">
                            <div class="navbar yamm">
                                <div class="navbar-header hidden-md  hidden-lg  hidden-sm">
                                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                                    <a href="javascript:void(0);" class="navbar-brand">Menu</a>
                                </div>
                                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/">Ana Sayfa</a></li>
                                        <li> <a href="/hakkinda">Hakkımızda</a> </li>
                                        <li> <a href="/iletisim">İletişim</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
            <div class="section-area section-default section-list-clients wow bounceInUp" data-wow-duration="2s">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="list-clients list-unstyled owl-carousel owl-theme_mod-a owl-theme enable-owl-carousel"
                                 data-min480="2"
                                 data-min768="4"
                                 data-min992="4"
                                 data-min1200="5"
                                 data-pagination="false"
                                 data-navigation="true"
                                 data-auto-play="4000"
                                 data-stop-on-hover="true">
                                <div class="list-clients__item"> <img class="img-responsive" src="/assets/media/clients/1.png" height="80" width="136" alt="Clients"> </div>
                                <div class="list-clients__item"> <img class="img-responsive" src="/assets/media/clients/2.png" height="80" width="146" alt="Clients"> </div>
                                <div class="list-clients__item"> <img class="img-responsive" src="/assets/media/clients/3.png" height="80" width="98" alt="Clients"> </div>
                                <div class="list-clients__item"> <img class="img-responsive" src="/assets/media/clients/4.png" height="80" width="171" alt="Clients"> </div>
                                <div class="list-clients__item"> <img class="img-responsive" src="/assets/media/clients/5.png" height="80" width="100" alt="Clients"> </div>
                                <div class="list-clients__item"> <img class="img-responsive" src="/assets/media/clients/3.png" height="80" width="98" alt="Clients"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-area section-default">
                            <div class="subscribe subscribe_mod-a">
                                <i class="subscribe__icon icon-envelope-open"></i>
                                <div class="subscribe__inner"> <span class="subscribe__title">E-Bülten Üyeliği</span> <span class="subscribe__description">Güncel Kampanya ve İndirimlerden Haberdar Olun</span> </div>
                                <form class="subscribe__form form-inline">
                                    <div class="form-group">
                                        <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="E-posta adresi" class="form-control form-email-widget" />
                                            <input areas="" asp-controller="Home" asp-action="Subscribe" type="submit" value="✓ KAYDOL" name="subscribe" id="mc-embedded-subscribe" class="product ui-btn ui-btn_primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer footer_mod-a wow bounceInUp" data-wow-duration="2s">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="/assets/img/logo_mod-a.png" height="51" width="162" alt="Logo">
                                <div class="footer-info">
                                    <p>Crabitur venenatis lacus nec erat. Sed veliter urna sollicitu euismo nec hendrerit vel belitu Mauris dolor. Aliquam erat volutpat ipsum In lorem felis sollicitudin sed.</p>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                                <h3 class="footer-title">Bilgi</h3>
                                <ul class="footer-list">
                                    <li class="footer-list__item"> <a class="footer-list__link" href="/PrivacyPolicy">Gizlilik Sözleşmesi</a> </li>
                                    <li class="footer-list__item"> <a class="footer-list__link" href="/TermsOfUse">Kullanım Koşulları</a> </li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h3 class="footer-title">iletişim</h3>
                                <div class="footer-contacts">
                                    <address>
                                        <i class="icon icon-pointer"></i>Kadıköy
                                    </address>
                                </div>
                                <div class="footer-contacts"><i class="icon icon-call-end"></i>0212 123 45 67</div>
                                <div class="footer-contacts"><i class="icon icon-envelope-open"></i><a href="mailto:treestorebem@gmail.com"></a>treestorebem@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="copyright">Copyright © @DateTime.Now.Year <a class="color_primary"> TREE STORE EKİBİ </a><span class="br">All Rights Reserved.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/assets/js/jquery-migrate-1.2.1.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/modernizr.custom.js"></script>
    <script src="/assets/plugins/isotope/jquery.isotope.min.js"></script>
    <script src="/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/assets/plugins/jelect/jquery.jelect.js"></script>
    <script src="/assets/plugins/nouislider/jquery.nouislider.all.min.js"></script>
    <script src="/assets/plugins/switcher/js/bootstrap-select.js"></script>
    <script src="/assets/plugins/switcher/js/dmss.js"></script>
    <script src="/assets/js/cssua.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/js/category.js"></script>
    <script type="text/javascript">
    $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
    var amountScrolled = 300;
    $(window).scroll(function () {
        if ($(window).scrollTop() > amountScrolled) {
            $('a.back-to-top').fadeIn('slow');
        } else {
            $('a.back-to-top').fadeOut('slow');
        }
    });
    $('a.back-to-top, a.simple-back-to-top').click(function () {
        $('html, body').animate({
            scrollTop: 0
        }, 700);
        return false;
    });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>