@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="row">
    <div class="col-md-9 col-md-offset-1 col-xs-12">
        <div>
            <br />
            <h4>Profil Ayarlarını Değiştir</h4>
            <br />
            <hr />
            <div class="content" style="width:550px; height:400px">
                <br />
                <dl class="dl-horizontal">
                    <dt>Şifre:</dt>
                    <dd>
                        <a asp-controller="Manage" asp-action="ChangePassword" class="product ui-btn ui-btn_primary">Değiştir</a>
                    </dd>
                </dl>
                <br />
                <br />
                <br />
                <dl class="dl-horizontal">
                    <dt>Profilimi Düzenle:</dt>
                    <dd>
                        <a asp-controller="Manage" asp-action="Edit" class="product ui-btn ui-btn_primary">Düzenle</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>

