@{
    ViewData["Title"] = "Hakkında";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <section class="section-area section-about text-center">
                <h2 class="ui-title-block ui-title-block_large ui-title-block_mod-a">HAKKIMIZDA</h2>
                <p>@Html.Raw(ViewBag.About)</p>
            </section>
        </div>
    </div>
</div>
