<!DOCTYPE html>


    <meta charset="utf-8">
    <title>404</title>
    <link href="/404/style/main.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/404/favicon.ico">
    <link rel="apple-touch-icon" href="404/meta/apple-touch-icon.png">
    <link rel="apple-touch-startup-image" href="/404/meta/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone 5+ -->
    <link rel="apple-touch-startup-image" href="/404/meta/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone, retina -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">

<div class="wrap" style="margin-top:-200px;">
    <div class="logo">
        <p>OOPS! - Aradığınız sayfa bulunamadı!</p>
        <img src="~/uploads/404-1.png" />
        <div class="sub">
            <p><a class="product ui-btn ui-btn_primary" asp-action="Index">Geri </a></p>
        </div>
    </div>
</div>
<br />
 <style type="text/css">

     body {
         font-family: 'Love Ya Like A Sister', cursive;
     }

    .logo {
        text-align: center;
        margin-top: 200px;
    }

      

        .logo p {
            color: #272727;
            font-size: 40px;
            margin-top: 1px;
        }

            .logo p span {
                color: lightgreen;
            }
   </style> 