@{
    ViewData["Title"] = "Gizlilik Sözleşmesi";
}
<header class="page-header bg-img size-lg">
    <div class="container">
        <h1 class="text-center">Gizlilik Sözleşmesi</h1>
    </div>
</header>
<main>
    <section>
        <div class="container">
            <p>@Html.Raw(ViewBag.PrivacyPolicy)</p>
        </div>
    </section>
</main>