@{
    ViewData["Title"] = "Gizlilik Sözleşmesi";
}
<div class="row">
    <div class="col-xs-12">
        <section class="section-area section-about text-center">
            <h2 class="ui-title-block ui-title-block_large ui-title-block_mod-a">Gizlilik Sözleşmesi</h2>
            <p>@Html.Raw(ViewBag.PrivacyPolicy)</p>
        </section>
    </div>
</div>
