
@{
    ViewData["Title"] = "Kullanım Koşulları";
}

<div class="row">
    <div class="col-xs-12">
        <section class="section-area section-about text-center">
            <h2 class="ui-title-block ui-title-block_large ui-title-block_mod-a">Kullanım Koşulları</h2>
            <p>@Html.Raw(ViewBag.TermsOfUse)</p>
        </section>
    </div>
</div>

